<div class="col-md-2 bg-side sidebar">
    <h2> <a class="nav-link text-white active" href="{% url 'listar_pets' %}">ADO.TE</a></h2>
    <hr>
    <nav class="menu">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white active" href="{% url 'listar_pets' %}">Adote</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white active" href="{% url 'seus_pets' %}">Seus pets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white active" href="{% url 'novo_pet' %}">Cadastrar pet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white active" href="{% url 'ver_pedido_adocao' %}">Pedidos de adoção</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white active" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <p>{{usuario_logado}}</p>
                <a class="btn-custom-primary nav-link text-white active" href="{% url 'sair' %}">Sair</a>
            </li>
        </ul>
    </nav>

</div>
