{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Dashboard{% endblock 'title' %}
{% block 'content' %}
{% include 'partials/_nav.html' %}
<div class="container-fluid col-md-8">
    <div class="row">
        <div style="padding:60px" class="col-md">
            <h3 class="font-vinho">Quantidade de adoções por raça.</h3>
                <div style="width: 60%;">
                <canvas id="myChart"></canvas>
            </div>  
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    loadChart();
});
</script>
{% endblock 'content' %}
