{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Cadastro{% endblock 'title' %}
{% block 'content' %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 bg-side">
      <div class="header">
        <img
          src="{% static 'usuarios/img/logo_adote2.png' %}"
          width="9%"
        /><span class="font-logo">ADO.TE</span>
      </div>

      <div class="body-form">
          {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}  
          {% endif %} 
        <h2>Cadastre-se</h2>
        <p>Seu cadastro salva vidas.</p>
        <hr />
        <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
          <div class="row">
            <div class="col-md">
              <label for="nome">*Nome:</label>
              <input
                type="text"
                class="form-control"
                placeholder="Digite seu nome"
                name="nome"
                id="nome"
                value= "{{ request.POST.nome }}"
              />
            </div>
            <div class="col-md">
              <label for="last_name">Sobrenome:</label>
              <input
                type="text"
                class="form-control"
                placeholder="Digite seu sobrenome"
                name="last_name"
                id="last_name"
                value= "{{ request.POST.last_name }}"
              />
            </div>
          </div>
          <br>
          <label for="usuario">*Usuário:</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite seu usuário"
            name="usuario"
            id="usuario"
            value= "{{ request.POST.usuario }}"
          />
          <br />
          <label for="email">*E-mail:</label>
          <input
            type="email"
            class="form-control"
            placeholder="Digite seu email"
            name="email"
            id="email"
            value= "{{ request.POST.email }}"
          />
          <br />
          <label for="tel">*Telefone:</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite seu telefone"
            name="tel"
            id="tel"
            value= "{{ request.POST.tel }}"
          />
          <br />
          <div class="row">
            <div class="col-md-3">
              <label for="cep">Cep:</label>
              <input 
                  type="text"
                  class="form-control"
                  placeholder="Digite seu cep"
                  name="cep"
                  id="cep"
                  value="{{request.POST.cep}}"
              />
            </div>
            <div class="col-md-2">
              <label for="estado">*Estado:</label>
              <select
                class="form-select estado-select"
                name="estado"
                id="estado"
              />
              {% for estado in estados %}
                <option value="{{ estado.nome }}">{{ estado.sigla }}</option>
              {% endfor %}
              </select>
            </div>
            <div class="col-md">
              <label for="cidade">Cidade:</label>
              <input 
                  type="text"
                  class="form-control"
                  placeholder="Digite sua cidade"
                  name="cidade"
                  id="cidade"
              />
            </div>
            <div class="col-md">
              <label for="bairro">Bairro:</label>
              <input 
                  type="text"
                  class="form-control"
                  placeholder="Digite seu bairro"
                  name="bairro"
                  id="bairro"
              />
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md">
              <label for="senha">*Senha</label>
              <input
                type="password"
                class="form-control"
                placeholder="Digite sua senha"
                name="senha"
                id="senha"
              />
            </div>

            <div class="col-md">
              <label for="confirmar_senha">*Confirmar senha:</label>
              <input
                type="password"
                class="form-control"
                placeholder="Digite sua senha..."
                name="confirmar_senha"
                id="confirmar_senha"
              />
            </div>
          </div>
          <br>
          <div class="col-md">
            <label for="descricao">*Fale um pouco sobre você:</label>
            <textarea class="form-control" name="descricao" placeholder="Conte um pouco sobre quem você é">{{request.POST.descricao}}</textarea>
          </div>

          <input type="submit" value="SALVAR" class="btn-custom-primary" />

          <a href="{% url 'login' %}" class="link-float">Já tenho uma conta</a>
        </form>
      </div>
    </div>

    <div class="col-md-7">
      <div class="side-logo">
        <img
          class="logo-margin-top"
          src="{% static 'usuarios/img/logo_adote2.png' %}"
          width="20%"
        />
        <h1>ADO.TE</h1>
        <p>Nos ajude a salvar vidas.</p>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/busca_cep.js' %}"></script>
{% endblock 'content' %}

