{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Login{% endblock 'title' %}
{% block 'content' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 bg-side">
            <div class='header'>
                <img src="{% static 'usuarios/img/logo_adote2.png' %}" width="9%"><span class="font-logo">ADO.TE</span>
            </div>
            <div class="body-form">
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <div class="alert {{message.tags}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
                <h2>Logar</h2>
                <p>Que bom ter você de volta!</p>
                <hr>
                <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                    <label for="usuario">Usuário:</label>
                    <input type="text" value="{{ request.POST.usuario }}" class="form-control form-login" placeholder="Digite seu nome..." name="usuario" id="usuario">
                    <br>
                    <label for="senha">Senha:</label>
                    <input type="password" class="form-control" placeholder="Digite sua senha..." name="senha" id="senha">

                    <input type="submit" value="Entrar" class="btn-custom-primary">
                
                    <a href="{% url 'cadastro' %}" class="link-float">Não possuo uma conta</a>
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <div class="side-logo">
                <img class="logo-margin-top" src="{% static 'usuarios/img/logo_adote2.png' %}" width="20%">
                <h1>ADO.TE</h1>
                <p>Nos ajude a salvar vidas.</p>
            </div>
        </div>
    </div>
</div>
{% endblock 'content' %}
